$primary-color: #003251;
$primary-white: #D9DCD6;
$border-color: #2e6da4;
$navbar-height: 50px;
$navbar-margin: 20px;

.map {
    height: calc(100vh - 90px);;
}

.main-navbar {
    background-color: $primary-color;
    border-color: $border-color;
    min-height: $navbar-height;
    margin-bottom: $navbar-margin;

    .navbar-brand{
        color: $primary-white;
        &:hover {
            color: #black;
        }
    }

    .navbar-right {
        padding-right: 8px;
    }
}

.place-logo {
    max-width:100%;
    max-height:100%;
}
.place-wrapper {
    margin-top: 10px;

    .img-wrapper {
        padding: 0px;
    }
}

.filters-wrapper {
    text-align: center;

    div .btn {
        width: 100px;
        margin: 10px;
    }

    div .btn-primary {
        background-color: $primary-color;
    }
}
